x64/
D_DespillMadness.dir/
CMakeFiles/
.git/
.vs/

/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/NDKExamplePlugins.sln
/NDKExamplePlugins.vcxproj.filters
/NDKExamplePlugins.vcxproj
/CMakeCache.txt
/cmake_install.cmake

/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/D_DespillMadness.sln 
/D_DespillMadness.vcxproj 
/D_DespillMadness.vcxproj.filters

!D_DespillMadness.cpp